#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        combo_neovim {
            timeout-ms = <50>;
            key-positions = <15 16>;
            bindings = <&mo 5>;
            layers = <0 3>;
        };
    };

    macros {
        // "00"（KP_N0 を 2 回送る）numpad 用マクロ
        num_00: num_00 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp KP_N0 &kp KP_N0>;
        };
    };

    behaviors {
        mm_comma: mm_comma {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp COMMA>, <&kp EXCL>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mm_dot: mm_dot {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp DOT>, <&kp QMARK>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mm_slash: mm_slash {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp FSLH>, <&kp BSLH>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mm_n1: mm_n1 {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp N1>, <&kp N1>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mm_n2: mm_n2 {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp N2>, <&kp N2>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mm_n3: mm_n3 {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp N3>, <&kp N3>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mm_n4: mm_n4 {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp N4>, <&kp N4>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mm_n5: mm_n5 {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp N5>, <&kp N5>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mm_n6: mm_n6 {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp N6>, <&kp N6>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mm_n7: mm_n7 {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp N7>, <&kp N7>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mm_n8: mm_n8 {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp N8>, <&kp N8>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mm_n9: mm_n9 {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp N9>, <&kp N9>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mm_n0: mm_n0 {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp N0>, <&kp N0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mm_minus: mm_minus {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp MINUS>, <&kp MINUS>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mm_equal: mm_equal {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp EQUAL>, <&kp EQUAL>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mm_lbkt: mm_lbkt {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp LBKT>, <&kp LBKT>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mm_rbkt: mm_rbkt {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp RBKT>, <&kp RBKT>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mm_bslh: mm_bslh {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp BSLH>, <&kp BSLH>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mm_semi: mm_semi {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp SEMI>, <&kp SEMI>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mm_sqt: mm_sqt {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp SQT>, <&kp SQT>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Clandor";
            bindings = <
&kp TAB    &kp Q     &kp W      &kp R      &kp D      &kp B                                    &kp F      &kp J     &kp U      &kp P      &kp SEMI   &kp BSPC
&kp ESC    &kp A     &kp S      &kp H      &kp T      &kp G                                    &kp Y      &kp N     &kp E      &kp O      &kp I      &kp FSLH
&kp LSHFT  &kp Z     &kp X      &kp C      &kp M      &kp V                                    &kp L      &kp K     &kp COMMA  &kp DOT    &kp UP     &kp RET
&mo 1      &kp GRAVE &kp LCTRL  &kp LALT   &kp LGUI   &kp SPACE  &mo 7      &mo 7      &kp SPACE  &kp RGUI  &kp RSHFT  &kp LEFT   &kp DOWN   &kp RIGHT
            >;
        };

        symbols_layer {
            display-name = "Symbols";
            bindings = <
&kp TAB    &mm_n1    &mm_n2     &mm_n3     &mm_n4     &mm_n5                                   &mm_n6     &mm_n7    &mm_n8     &mm_n9     &mm_n0     &kp BSPC
&kp ESC    &kp EXCL  &kp AT     &kp HASH   &kp DLLR   &kp PRCNT                                &kp CARET  &kp AMPS  &kp ASTRK  &kp LPAR   &kp RPAR   &kp PIPE
&kp CAPS   &kp PLUS  &mm_minus  &mm_bslh   &mm_sqt    &kp DQT                                  &kp LBRC   &kp RBRC  &kp UNDER  &mm_equal  &kp UP     &kp RET
&mo 1      &mm_lbkt  &kp LCTRL  &kp LALT   &kp LGUI   &kp SPACE  &mo 7      &mo 7      &kp SPACE  &kp RGUI  &mm_rbkt   &kp LEFT   &kp DOWN   &kp RIGHT
            >;
        };

        plover_layer {
            display-name = "Plover";
            bindings = <
&kp A      &kp B      &kp C      &kp D      &kp E      &kp F                                    &kp G      &kp H      &kp I      &kp J      &kp K      &kp L
&kp M      &kp N      &kp O      &kp P      &kp Q      &kp R                                    &kp S      &kp T      &kp U      &kp V      &kp W      &kp X
&kp LSHFT  &kp COMMA  &kp SPACE  &kp Y      &kp Z      &kp N0                                   &kp N1     &kp N2     &kp N3     &kp RET    &kp DOT    &kp RSHFT
&kp LCTRL  &kp LALT   &kp LGUI   &kp N4     &kp N5     &kp N6     &mo 7      &mo 7      &kp N7     &kp N8     &kp N9     &kp RGUI   &kp RALT   &kp RCTRL
            >;
        };

        graphite_layer {
            display-name = "Graphite";
            bindings = <
&none      &kp B      &kp L      &kp D      &kp W           &kp Z                                                                &mm_comma  &kp F           &kp O      &kp U      &kp J      &none
&kp GRAVE  &kp N      &kp R      &kp T      &kp S           &kp G                                                                &kp Y      &kp H           &kp A      &kp E      &kp I      &kp SQT
&kp LGUI   &kp Q      &kp X      &kp P      &kp C           &kp V                                                                &kp K      &kp M           &mm_dot    &kp MINUS  &mm_slash  &kp RGUI
&kp LALT   &kp LCTRL  &kp TAB    &kp DEL    &mt LSHFT SPACE &lt 4 RET  &mo 7          &mo 7          &lt 4 RET  &mt RSHFT SPACE  &kp BSPC   &kp ESC         &kp RCTRL  &kp RALT
            >;
        };

        graphite_symbols_layer {
            display-name = "Graphite-Symbols";
            bindings = <
&kp LANG1  &kp LBRC   &kp RBRC   &mm_lbkt   &mm_rbkt        &kp CARET                                                            &kp PRCNT  &kp HASH        &kp LT     &kp GT     &kp DLLR   &kp LANG2
&none      &mm_semi   &kp PIPE   &kp AMPS   &mm_n0          &kp COLON                                                            &kp AT     &mm_n1          &kp LPAR   &kp RPAR   &mm_equal  &none
&kp LGUI   &mm_n6     &mm_n7     &mm_n8     &mm_n9          &kp PLUS                                                             &kp ASTRK  &mm_n2          &mm_n3     &mm_n4     &mm_n5     &kp RGUI
&kp LALT   &kp LCTRL  &kp TAB    &kp BSPC   &mt LSHFT SPACE &kp RET    &mo 7          &mo 7          &kp RET    &mt RSHFT SPACE  &kp DEL    &kp ESC         &kp RCTRL  &kp RALT
            >;
        };

        neovim_layer {
            display-name = "Neovim";
            bindings = <
&none  &none  &none  &none  &none  &none                                                  &kp B   &none   &kp E   &kp W      &kp LS(H)  &none
&none  &none  &none  &none  &none  &none                                                  &kp H   &kp J   &kp K   &kp L      &kp LS(M)  &none
&none  &none  &none  &none  &none  &none                                                  &kp N0  &none   &none   &kp DLLR   &kp LS(L)  &none
&none  &none  &none  &none  &none  &none  &none                                    &none  &none   &none   &kp ESC &none      &none      &none
            >;
        };

        system_layer {
            display-name = "System";
            bindings = <
&none  &none  &none  &none  &none  &none                                                  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &bt BT_CLR
&none  &none  &none  &none  &none  &none                                                  &none         &none         &none         &none         &none         &none
&none  &none  &none  &none  &none  &bootloader                              &bootloader  &none         &none         &none         &none         &none
&none  &none  &none  &none  &none  &none        &mo 7        &mo 7          &none        &none         &none         &none         &none         &none
            >;
        };

        roundabout_layer {
            display-name = "Round-About";
            bindings = <
&none  &none  &none  &to 3  &to 2  &to 0                                                  &to 0         &to 2         &to 3         &none         &none         &none
&none  &none  &none  &none  &none  &none                                                  &none         &none         &none         &none         &none         &none
&to 6  &none  &none  &none  &none  &none                                                  &none         &none         &none         &none         &none         &to 6
&none  &none  &none  &none  &none  &none        &mo 7        &mo 7          &none        &none         &none         &none         &none         &none
            >;
        };
    };
};
