#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        combo_neovim {
            timeout-ms = <50>;
            key-positions = <15 16>;
            bindings = <&mo 2>;
            layers = <0>;
        };
    };

    macros {
        // "00"（KP_N0 を 2 回送る）numpad 用マクロ
        num_00: num_00 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp KP_N0 &kp KP_N0>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
            bindings = <
&kp TAB    &kp Q     &kp W      &kp R      &kp D      &kp B                                    &kp F      &kp J     &kp U      &kp P      &kp SEMI   &kp BSPC
&kp ESC    &kp A     &kp S      &kp H      &kp T      &kp G                                    &kp Y      &kp N     &kp E      &kp O      &kp I      &kp SQT
&kp LSHFT  &kp Z     &kp X      &kp C      &kp M      &kp V                                    &kp L      &kp K     &kp COMMA  &kp DOT    &kp UP     &kp RET
&mo 3      &mo 1     &kp GRAVE  &kp LCTRL  &kp LALT   &kp LGUI   &kp SPACE  &kp SPACE  &kp RGUI   &kp FSLH   &kp RSHFT  &kp LEFT   &kp DOWN   &kp RIGHT
            >;
        };

        symbols_layer {
            display-name = "Symbols";
            bindings = <
&kp TAB    &kp N1    &kp N2     &kp N3     &kp N4     &kp N5                                   &kp N6     &kp N7    &kp N8     &kp N9     &kp N0     &kp BSPC
&kp ESC    &kp EXCL  &kp AT     &kp HASH   &kp DLLR   &kp PRCNT                                &kp CARET  &kp AMPS  &kp ASTRK  &kp LPAR   &kp RPAR   &kp PIPE
&none      &kp PLUS  &kp MINUS  &kp BSLH   &kp LBKT   &kp RBKT                                 &kp LBRC   &kp RBRC  &kp UNDER  &kp EQUAL  &kp UP     &kp RET
&mo 3      &none     &kp CAPS   &kp LCTRL  &kp LALT   &kp LGUI   &kp SPACE  &kp SPACE  &kp RGUI   &kp F11    &kp F12    &kp LEFT   &kp DOWN   &kp RIGHT
            >;
        };

        neovim_layer {
            display-name = "Neovim";
            bindings = <
&none  &none  &none  &none  &none  &none                                                  &kp B   &none   &kp E   &kp W      &kp LS(H)  &none
&none  &none  &none  &none  &none  &none                                                  &kp H   &kp J   &kp K   &kp L      &kp LS(M)  &none
&none  &none  &none  &none  &none  &none                                                  &kp N0  &none   &none   &kp DLLR   &kp LS(L)  &none
&none  &none  &none  &none  &none  &none  &none                                    &none  &none   &none   &kp ESC &none      &none      &none
            >;
        };

        system_layer {
            display-name = "System";
            bindings = <
&none  &none  &none  &none  &none  &none                                                  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &bt BT_CLR
&none  &none  &none  &none  &none  &none                                                  &none         &none         &none         &none         &none         &none
&none  &none  &none  &none  &none  &bootloader                              &bootloader  &none         &none         &none         &none         &none
&none  &none  &none  &none  &none  &none        &none        &none          &none        &none         &none         &none         &none         &none
            >;
        };
    };
};
